
{% extends "itoneapp/base.html" %}
{% block content %}
{% load static %}

<style>
  #calendar-body {
    .border-radius-10 {
      border-radius: 10px;
    }
  }

  tbody {
    .border-radius-10 {
      border-radius: 10px;
    }
  }
</style>

<div class="container">

  <div class="row">
    <div class="col mt-2">
      <div class="d-flex justify-content-center">
        {% if user.profile_image %}
        <img src="{{user.profile_image.url}}" alt="" class="rounded-circle" width="125px">
        {% else %}
        <img src="{% static 'itoneapp/logo/imageholder.jpg' %}" alt="" class="rounded-circle" width="125px">
        {% endif %}

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-center mt-3">
        <h4 class="text-capitalize font-weight-bold">Hi {{user.username}}!</h4>
      </div>
      <div class="d-flex justify-content-center mt-5">
        <h3>How do you feel?</h3>
      </div>
    </div>
  </div>


</div>

<div class="comtainer">

    <div class="row mt-3">
      <div class="col-sm-6 d-flex flex-wrap justify-content-between">

        <!-- loop over emotions and make a div for each -->
        {% for emotion in emotions %}
        <div class="col text-center mt-4">
          <a href="{% url 'itoneapp:journal_entry' %}?emotion={{emotion.id}}"><img src="{{emotion.icon.url}}" alt="" width="100px" class="rounded-circle shadow"></a>

          <div class="mt-1">{{emotion.name}}</div>
        </div>
        {% endfor %}

      </div>
    </div>

</div>


{% endblock %}
