{% extends "itoneapp/base.html" %}
{% load static %}

{% block content %}

<div class="container">

  <div class="row">
    <div class="col mt-2">
      <div class="d-flex justify-content-center">
        <a href="{% url 'itoneapp:home' %}">
          <img src="{% static 'itoneapp/logo/brand3.png' %}" alt="logo" class="" width="125px"/>
        </a>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-center">
        <h6>you feeling?</h6>
      </div>
    </div>
  </div>

  <form class="row mt-5" action="{% url 'itoneapp:edit_save' journal_detail.id %}" method="post">
    <input type="hidden" value="" name="emotion" id="change_emotion">
    <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center">
      {% csrf_token %}

      <!-- loop over emotions and make a div for each -->
      <div class="text-center">
        <!-- {{selected_emotion_id}} {{emotion.id}} -->
        <input type="hidden" value="{{journal_detail.emotion.name}}" name="emotion">
        <div data-name="{{journal_detail.emotion.name}}" name="" class="emo_icon" {% if selected_emotion_id != emotion.id %}style="opacity:0.2"{% endif %}>
          <img src="{{journal_detail.emotion.icon.url}}" alt="" width="50px" class="rounded-circle shadow">
        </div>

        <div class="font-10 mt-1">{{journal_detail.emotion.name}}</div>

      </div>


    </div>

    <div class="col mt-3">
      <div class="form-group">

        <input type="range" class="custom-range" value="{{journal_detail.intensity}}" min="0" max="10" id="input_intensity" name="intensity">

        <label class="font-10">Intensity</label>
        <label id="label_intensity" class="font-weight-bold" for="input_intensity">{{journal_detail.intensity}}</label>

        <label for="input_detail"></label>
        <textarea class="form-control mt-3" id="input_detail" rows="15" placeholder="Let it out!" name="input_detail">{{journal_detail.content}}</textarea>


        <div class="d-flex justify-content-center mt-3">
            <button type="submit" class="btn btn-primary btn-lg btn-block bg-color-blue">Save</button>
        </div>

      </div>
    </div>
  </form>

</div>




<script src="{% static 'itoneapp/js/main.js' %}"></script>

  <!-- <a href="{% url 'itoneapp:logout' %}">logout</a> -->

{% endblock %}
