{% extends "itoneapp/base.html" %}
{% load static %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col mt-3">
      <a href="{% url 'itoneapp:journal_list' %}" class="opct-80"><img class="width-35" src="{% static 'itoneapp/icons/backward.svg' %}" alt=""></a>
    </div>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-center">
        <a href="{% url 'itoneapp:home' %}">
          <img src="{% static 'itoneapp/logo/brand3.png' %}" alt="logo" class="" width="125px"/>
        </a>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-center">
        <h6>you feeling?</h6>
      </div>
    </div>
  </div>

  <form class="row mt-5" action="{% url 'itoneapp:savejournal' %}" method="post">
    <input type="hidden" value="{{selected_emotion.name}}" name="emotion" id="change_emotion">
    <div class="col-lg-12 col-md-6 col-sm-6 d-flex justify-content-between">
      {% csrf_token %}

      <!-- loop over emotions and make a div for each -->
      {% for emotion in emotions %}
      <div class="text-center">
        <!-- {{selected_emotion_id}} {{emotion.id}} -->
        <div data-name="{{emotion.name}}" name="" class="emo_icon" {% if selected_emotion.id != emotion.id %}style="opacity:0.2"{% endif %}>
          <img src="{{emotion.icon.url}}" alt="" width="50px" class="rounded-circle shadow">
        </div>

        <div class="font-10 mt-1">{{emotion.name}}</div>
      </div>
      {% endfor %}

    </div>

    <div class="col mt-3">
      <div class="form-group">

        <input type="range" class="custom-range" min="0" max="10" id="input_intensity" name="intensity" value="5">

        <label class="font-10">Intensity</label>
        <label id="label_intensity" class="font-weight-bold" for="input_intensity">5</label>

        <label for="input_detail"></label>
        <textarea class="form-control mt-3" id="input_detail" rows="13" placeholder="Let it out!" name="input_detail" required></textarea>


        <div class="d-flex justify-content-center mt-3">

          <!-- <a href="{% url 'itoneapp:journal_list' %}?emotion={{emotion.id}}"> -->
            <button type="submit" class="btn btn-primary btn-lg btn-block bg-color-blue">Done</button>
          <!-- </a> -->

        </div>
      </div>
    </div>
  </form>

</div>




<script type="text/javascript">

  // Start Range Scale

  let input_intensity = document.querySelector('#input_intensity')
  let label_intensity = document.querySelector('#label_intensity')
  let change_emotion = document.getElementById('change_emotion')
  input_intensity.addEventListener('input', function() {
    // label_intensity.innerText = 'Intensity: ' + input_intensity.value
    label_intensity.innerText = input_intensity.value
  })
  // End Range Scale



  let emos = document.querySelectorAll('.emo_icon')
  let emotions = ['Joy', 'Love', 'Surprise', 'Anger', 'Sadness', 'Fear']
  // console.log(emos)
  for (let i=0; i<emos.length; ++i) {
    emos[i].addEventListener('click', function() {

      change_emotion.value = emotions[i]
      console.log(emos[i].dataset.name)
      for (let j=0; j<emos.length; ++j) {
        if (emos[j] != this) {
          emos[j].style.opacity = 0.2
        } else {
          emos[j].style.opacity = 1
        }
      }
    })
  }
</script>

  <!-- <a href="{% url 'itoneapp:logout' %}">logout</a> -->

{% endblock %}
