
{% extends "itoneapp/base.html" %}
{% block content %}
{% load static %}

<style>
  .profile-body {
    background-color: #27489d;
    border-radius: 40px 40px 0 0;
    height: 65vh;
    transform: translate(0, 12vh);

  }
  .inner-profile {
    transform: translate(0, -12vh);
    /* height: 50vh; */
  }

  .inner-profile img {
    border: 8px solid white;
  }
</style>

<div class="container">
  <div class="row">
    <div class="col mt-3">
      <a href="{% url 'itoneapp:profile' %}" class="opct-80"><img class="ml-1" src="{% static 'itoneapp/icons/backward.svg' %}" alt=""></a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col mt-2">
      <div class="d-flex justify-content-center">
        <a href="{% url 'itoneapp:home' %}">
          <img src="{% static 'itoneapp/logo/brand3.png' %}" alt="logo" class="" width="125px"/>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-center">
        <h6>edit profile</h6>
      </div>
    </div>
  </div>
</div>


<div class="profile-body">
  <div class="inner-profile">
    <div class="container">
      <div class="row d-flex justify-content-center mt-5">

        <form action="{% url 'itoneapp:profile_edit_save' user.id %}" method="post"  enctype="multipart/form-data">
          {% csrf_token %}

          <div class="col d-flex justify-content-center mt-2">
            <input class="rounded-circle bg-color-lightgray text-center mt-2" style="height:200px; width:200px" value="{{user.profile_image}}" accept="image/*" type="file" name="profile_image">
          </div>

          <div class="col d-flex justify-content-center mt-5">
            <input class="btn bg-color-lightgray text-center width-300 mt-2" type="text" name="username" value="{{user.username}}">
          </div>

          <div class="col d-flex justify-content-center mt-3">
            <input class="btn bg-color-lightgray text-center width-300 mt-2" type="email" name="email" value="{{user.email}}">
          </div>

          <div class="col d-flex justify-content-center mt-10">
              <button type="submit" class="text-color-blue btn bg-white text-center width-300">Save</button>
          </div>
        </form>

      </div>


    </div>
  </div>
</div>





{% endblock content %}
