
{% extends "itoneapp/base.html" %}
{% block content %}
{% load static %}

<style>
  .profile-body {
    background-color: #27489d;
    border-radius: 40px 40px 0 0;
    height: 65vh;
    transform: translate(0, 12vh);

  }
  .inner-profile {
    transform: translate(0, -12vh);
    /* height: 50vh; */
  }

  .inner-profile img {
    border: 8px solid white;
  }
</style>

<div class="container">
  <div class="row">
    <div class="col mt-3">
      <a href="{% url 'itoneapp:profile_edit' user.id%}" class="opct-80"><img class="ml-1" src="{% static 'itoneapp/icons/edit.svg' %}" alt=""></a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col mt-2">
      <div class="d-flex justify-content-center">
        <a href="{% url 'itoneapp:home' %}">
          <img src="{% static 'itoneapp/logo/brand3.png' %}" alt="logo" class="" width="125px"/>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-center">
        <h6>your profile</h6>
      </div>
    </div>
  </div>
</div>

<div class="profile-body">
  <div class="inner-profile">

    <div class="container">


      <div class="row mt-5">
        <div class="col mt-2">
          <div class="d-flex justify-content-center">
            <img src="{{user.profile_image.url}}" alt="" class="rounded-circle" width="200px">
          </div>
        </div>
      </div>


      <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center mt-5">
        <div class="text-center">
          <div class="text-white mt-1 text-left">Username:&nbsp;&nbsp;{{user.username}}</div>
          <div class="text-white mt-1">Email: &nbsp;&nbsp; {{user.email}}</div>
        </div>
      </div>


      <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center mt-13">
          <a class="text-color-blue btn bg-white text-center width-300 mt-2" href="{% url 'itoneapp:logout' %}">logout</a>
      </div>


    </div>


  </div>

</div>

{% endblock content %}
